<li><a href="javascript: window.open('#/SettingsApp/TermsAndConditions/Edit')"><i class="fa fa-id-badge"></i> Terminos y Condiciones del Servicio </a></li>
<li><a href="javascript: window.open('#/SettingsApp/proposalLetter/Edit')"><i class="fa fa-id-badge"></i> Modelo de Carta Propuestas </a></li>

  
<!-- // ------------ ACCIONES DE DESEMPEÑO INICIO -------------------------------------  -->
<template id="page-Actions_Performance_Employees">
	<div>
		<header class="page-header">
			<div class="branding">
				<h1>ACCIONES DE DESEMPEÑO</h1>
			</div>
		</header>
		<div class="filters row">
			<div class="form-group col-sm-8">
				<label for="search-element">Filtrar / Buscar</label>
				<input v-model="searchKey" class="form-control" id="search-element" required/>
			</div>
			<div class="form-group col-sm-4 text-right">
				<div class="actions">
					<br>
					<router-link class="btn btn-primary" v-bind:to="{ name: 'Actions_Performance_Employees-Add' }">
						<span class="fa fa-plus"></span>
						Nuevo
					</router-link>
				</div>
			</div>
		</div>
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th class="col-sm-2">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-if="posts===null">
					<td colspan="4">Loading...</td>
				</tr>
				<tr v-else v-for="post in filteredposts">
					<td><router-link v-bind:to="{name: 'Actions_Performance_Employees-View', params: { action_performance_employee_id: post.id }}">{{ post.id }}</router-link></td>
					<td><router-link v-bind:to="{name: 'Actions_Performance_Employees-View', params: { action_performance_employee_id: post.id }}">{{ post.name }}</router-link></td>
					<td>
					<router-link class="btn btn-warning btn-md" v-bind:to="{name: 'Actions_Performance_Employees-Edit', params: { action_performance_employee_id: post.id }}"><i class="fa fa-pencil-square-o"></i> </router-link>
					<router-link class="btn btn-danger btn-md" v-bind:to="{name: 'Actions_Performance_Employees-Delete', params: { action_performance_employee_id: post.id }}"><i class="fa fa-trash"></i> </router-link>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<template id="view-Actions_Performance_Employees">
	<div>
		<header class="page-header">
			<div class="branding">
				<h1>ACCIONES DE DESEMPEÑO - {{ post.name }}</h1>
			</div>
		</header>
		<table class="table  table-responsive">
			<tr>
				<td>ID INTERNO</td>
				<td>{{ post.id }}</td>
			</tr>
			<tr>
				<td>NOMBRE</td>
				<td>{{ post.name }}</td>
			</tr>
		</table>
		<br/>
		<span class="fa fa-arrow-left" aria-hidden="true"></span>
		<router-link v-bind:to="{ name: 'Actions_Performance_Employees-List' }">Volver a la lista</router-link>
	</div>		  
</template>

<template id="add-Actions_Performance_Employees">
	<div>
		<h2>ACCIONES DE DESEMPEÑO - Crear</h2>
		<form v-on:submit="createAction_Performance_Employee">
			<div class="form-group">
				<label for="add-content">NOMBRE</label>
				<input class="form-control" type="text" v-model="post.name" />
			</div>
			<button type="submit" class="btn btn-primary">Crear</button>
			<router-link class="btn btn-primary" v-bind:to="{ name: 'Actions_Performance_Employees-List' }">Regresar</router-link>
		</form>
	</div>
</template>

<template id="edit-Actions_Performance_Employees">
	<div>
		<h2>ACCIONES DE DESEMPEÑO - Modificar</h2>
		<form v-on:submit="updateAction_Performance_Employee">
			<div class="form-group">
				<label for="edit-content">Nombre</label>
				<input class="form-control" id="edit-content" v-model="post.name" />
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
			<router-link class="btn btn-primary" v-bind:to="{ name: 'Actions_Performance_Employees-List' }">Regresar</router-link>
		</form>
	</div>
</template>

<template id="delete-Actions_Performance_Employees">
	<div>
		<h2>ACCIONES DE DESEMPEÑO - Eliminar</h2>
		<form v-on:submit="deleteAction_Performance_Employee">
			<p>The action cannot be undone.</p>
			<button type="submit" class="btn btn-danger">Eliminar</button>
			<router-link class="btn btn-primary" v-bind:to="{ name: 'Actions_Performance_Employees-List' }">Cancelar</router-link>
		</form>
	</div>
</template>
<!-- // ------------ ACCIONES DE DESEMPEÑO FIN -------------------------------------  -->
